@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
}
.star-rating {
    color: #ffa41c;
}
.tab-active {
    border-bottom: 2px solid #c7511f;
    color: #c7511f;
}